<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Intarmour_ImageClean::parent" title="ImageClean" module="Intarmour_ImageClean" sortOrder="100" resource="Intarmour_ImageClean::parent"/>
		<add id="Intarmour_ImageClean::image" title="ImageClean Image" module="Intarmour_ImageClean" sortOrder="20" parent="Intarmour_ImageClean::parent" action="imageclean/image" resource="Intarmour_ImageClean::image"/>
    </menu>
</config>
